**ÖRÜNTÜ TANIMA-KARAR AĞACI**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree

In [2]:
dataset = pd.read_csv("heart_failure_clinical_records_dataset.csv")
df = dataset.copy()

In [3]:
df.shape #299 satır, 13 kolon var

(299, 13)

In [4]:
df.head(10) #ilk 10 elemanı göster

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [5]:
df.isnull().sum() #boş kolon kontrolü

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [6]:
#veriyi test,train diye ayırıyoruz
from sklearn.model_selection import train_test_split, GridSearchCV

In [7]:
y=df['DEATH_EVENT']
X=df.drop(['DEATH_EVENT'],axis=1)

In [8]:
print(X)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time
0          0     4
1          0     6
2          1     7
3          0     7
4          0     8
..       ...   ...
294        1   270
295        0   271
296        0   278
297        1   280
298        1   285

[299 rows x 12 columns]

In [9]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [11]:
X_train.shape #X_train --> 209 satır, 12 kolon
#X_test.shape #X_test--> 90 satır, 12 kolon

(209, 12)

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
karar = DecisionTreeClassifier()
karar_model = karar.fit(X_train, y_train)

In [14]:
karar_model.predict([[60, 1, 580, 0, 35 ,0, 30000, 3, 120, 1, 0, 150]])

array([0], dtype=int64)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [16]:
accuracy_score(y_test, karar_model.predict(X_test))

0.7666666666666667

In [17]:
#Accuracy i artırmak için GridSearch kullanabiliriz
cart_grid = {"max_depth":range(1,10),
    "min_samples_split": range(2,50)}

In [18]:
cart = tree.DecisionTreeClassifier()
cart_cv = GridSearchCV(cart, cart_grid, cv=10, n_jobs= -1, verbose=2)

cart_cv_model = cart_cv.fit(X_train, y_train)

Fitting 10 folds for each of 432 candidates, totalling 4320 fits

In [19]:
cart_cv_model.best_params_

{'max_depth': 1, 'min_samples_split': 2}

In [20]:
#yeni değerlere göre accuracy hesaplıyoruz
yeni_cart = tree.DecisionTreeClassifier(max_depth=3, min_samples_split=2)

cart_opt = yeni_cart.fit(X_train, y_train)

In [21]:
y_pred = yeni_cart.predict(X_test)

In [22]:
y_pred

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)

In [23]:
accuracy_score(y_test, y_pred)

0.8888888888888888