**ÖRÜNTÜ TANIMA-SINIFLANDIRMA-NAİVE BAYES**

**KÜTÜPHANELERİ IMPORT ETME**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB

**VERİ SETİ OKUMA**

In [2]:
dataset = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df = dataset.copy()

**EXPLORATORY DATA ANALYSIS (EDA)**

In [3]:
df.shape #verinin toplam boyutu

(299, 13)

In [4]:
df.head(10) #veri setinin ilk 10 satırını göster

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [5]:
df.info() #genel bilgiler

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

null veri hiç yok, tüm veriler dolu

In [6]:
df.describe() #basit istatistikler

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [7]:
y=df['DEATH_EVENT'] #feature matisi --> X
X=df.drop(['DEATH_EVENT'],axis=1) #label --> y

In [8]:
X.head() #girdileri gör

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8

In [9]:
y.head() #sonuç değişkeni (label)

0    1
1    1
2    1
3    1
4    1
Name: DEATH_EVENT, dtype: int64

In [10]:
#sınıf adetlerini görelim
y.value_counts(sort=False)

0    203
1     96
Name: DEATH_EVENT, dtype: int64

**TRAIN-TEST SPLIT**

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=60)

In [12]:
#boyutları görelim
X_train.shape, X_test.shape

((209, 12), (90, 12))

**FEATURE SCALING**

In [13]:
#önce sütunları alalım
cols = X_train.columns
cols

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time'],
      dtype='object')

In [14]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

#X_train üzerinden hem fit hem de transform yapalım
X_train = sc.fit_transform(X_train)

#X_test üzerinden transform yapalım
X_test = sc.transform(X_test)

In [15]:
type(X_train)

#X_train ve X_test in tipleri numpy.ndarray

numpy.ndarray

In [16]:
#bunları tekrar pandas DataFrame'e çevirmemiz lazım
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [17]:
type(X_train)

pandas.core.frame.DataFrame

In [18]:
#Scale edilmiş olarak datayı görelim
X_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,-1.721183,1.054093,-0.518788,-0.861201,0.178124,-0.755929,-0.411799,-0.567704,0.932205,-1.282798,-0.702038,0.728807
1,-0.467681,-0.948683,0.051324,1.161169,-0.254759,1.322876,1.084190,-0.675079,0.703531,-1.282798,-0.702038,0.857860
2,2.457157,1.054093,-0.239066,-0.861201,0.004971,-0.755929,1.280217,-0.460328,1.618230,-1.282798,-0.702038,1.619270
3,0.367987,-0.948683,-0.504565,1.161169,-1.120526,-0.755929,2.384153,0.538265,-0.439843,0.779546,-0.702038,-0.819823
4,-0.216981,1.054093,-0.164394,-0.861201,0.178124,-0.755929,-1.051463,-0.352952,0.474856,-1.282798,-0.702038,-0.510097

In [19]:
X_test.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,-0.801948,-0.948683,-0.546049,-0.861201,1.043891,-0.755929,1.445291,-0.675079,0.703531,0.779546,-0.702038,-0.664960
1,-0.885515,1.054093,-0.450043,1.161169,-0.687643,-0.755929,0.372306,-0.138201,0.246181,-1.282798,-0.702038,-1.310223
2,0.785821,-0.948683,-0.529455,-0.861201,1.909658,1.322876,0.527063,-0.567704,0.703531,-1.282798,1.424425,-0.729486
3,1.203655,-0.948683,0.051324,-0.861201,0.611008,1.322876,-0.026370,-0.159676,0.017506,0.779546,-0.702038,-0.561718
4,-1.554049,-0.948683,-0.562643,-0.861201,0.178124,-0.755929,-0.793534,-0.675079,0.703531,0.779546,-0.702038,1.477312

**MODEL GELİŞTİRME**

In [20]:
#Gaussian Naive Bayes kullanacağız
nb = GaussianNB() #nesne oluşturduk
nb_model = nb.fit(X_train, y_train) #fit edip X_train ve y_train i verdik
nb_model

#burda model eğitilmiş oluyor

GaussianNB()

**SONUÇ TAHMİNİ**

In [21]:
nb_model.predict(X_test)[0:20]

array([0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0],
      dtype=int64)

In [22]:
nb_model.predict_proba(X_test)[0:20]

array([[9.25394969e-01, 7.46050308e-02],
       [6.89189316e-01, 3.10810684e-01],
       [8.31754477e-01, 1.68245523e-01],
       [8.25966145e-01, 1.74033855e-01],
       [9.99330572e-01, 6.69428419e-04],
       [2.73180976e-01, 7.26819024e-01],
       [9.98877332e-01, 1.12266822e-03],
       [1.23931134e-10, 1.00000000e+00],
       [1.83166672e-01, 8.16833328e-01],
       [1.36234909e-01, 8.63765091e-01],
       [2.41699957e-02, 9.75830004e-01],
       [9.94091396e-01, 5.90860378e-03],
       [8.50610122e-01, 1.49389878e-01],
       [9.90058088e-01, 9.94191224e-03],
       [1.01052495e-02, 9.89894751e-01],
       [9.76475763e-01, 2.35242375e-02],
       [9.98268761e-01, 1.73123875e-03],
       [8.24261633e-01, 1.75738367e-01],
       [9.97385485e-01, 2.61451526e-03],
       [9.97180662e-01, 2.81933801e-03]])

In [23]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [24]:
y_pred = nb_model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0], dtype=int64)

**TAHMİN SONUCU ANALİZİ (ACCURACY SCORE)**

In [25]:
accuracy_score(y_test, y_pred)

0.7888888888888889