**ÖRÜNTÜ TANIMA-SINIFLANDIRMA-YSA**

**KÜTÜPHANELERİ IMPORT ETME**

In [1]:
import pandas as pd
import numpy as np

**VERİ SETİ OKUMA**

In [2]:
dataset = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df = dataset.copy()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

**EXPLORATORY DATA ANALYSIS**

In [13]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
df.isnull().sum() #boş veri var mı kontrolü

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [4]:
X = df.drop(["DEATH_EVENT"], axis=1) #girdiler
y = df["DEATH_EVENT"] #çıktı

**TRAIN-TEST SPLIT**

In [5]:
from sklearn.model_selection import train_test_split
#test ve train diye ayırdık
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=0)

**FEATURE SCALING**

In [6]:
#YSA da scaling önemli!!! - ÖZELLİK ÖLÇEKLENDİRME
#değerleri belli değer aralığına çektik
#standart sapma ile ortalama değerler oluşturuyoruz
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#scaler.fit(X_train)
#X_train_scaled = scaler.transform(X_train)
#X_test_scaled = scaler.transform(X_test)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [7]:
X_test_scaled[0:5]

array([[-1.71540235,  1.19684269, -0.50772555, -0.77919372,  0.04418383,
        -0.70710678, -0.39194204, -0.53126463,  1.04481834, -1.3795745 ,
        -0.72486118,  0.642095  ],
       [-0.06276115,  1.19684269, -0.45177304,  1.2833779 ,  0.04418383,
         1.41421356, -0.67548113, -0.36007302, -0.27959928, -1.3795745 ,
        -0.72486118,  0.44852013],
       [-1.31557625,  1.19684269,  0.47703871, -0.77919372, -0.72053638,
        -0.70710678, -1.41268277, -0.27447722, -0.01471575,  0.72486118,
        -0.72486118, -1.62918343],
       [-0.51592405, -0.83553169,  0.03053764,  1.2833779 , -0.33817627,
         1.41421356,  1.25258468, -0.61686044,  0.77993482, -1.3795745 ,
        -0.72486118,  0.77114491]])

In [8]:
from sklearn.neural_network import MLPClassifier

In [9]:
mlpc = MLPClassifier().fit(X_train_scaled, y_train)

#Multi Layer Perceptron
#mlpc.fit(....)

#ARTIK MODEL EĞİTİLDİ

C:\Users\sevde\anaconda3\envs\deeplearning\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [10]:
mlpc?

In [11]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
y_pred = mlpc.predict(X_test_scaled)
accuracy_score(y_test, y_pred)

0.8333333333333334